body.active_admin #active_admin_content.left_sidebar #sidebar{
  margin-left:0;
}

body.active_admin #active_admin_content.left_sidebar .paginated_collection_contents{
  clear: none;
  float: left;
  width: 100%;
}

body.active_admin #active_admin_content.left_sidebar  .blank_slate_container{
    clear:none;
}



body.active_admin #active_admin_content.left_sidebar #main_content_wrapper{
  float:inherit;
  width:auto;
  margin-left: 298px;
}

body.active_admin #active_admin_content.left_sidebar #main_content_wrapper #main_content{
  margin:0;
}